.events_page_container {
    margin: 20px;
}

.events_slider {
    /* background-color: red; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    margin: 0 auto;
}
  
.es_left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: 15px;
}

.esl_title {
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.esl_numbering {
    /* background-color: grey; */
    width: 80px;
    height: 80px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 20px;

    transform: rotate(-60deg);
}

.esl_num_devisor {
    width: 50px;
    height: 2px;
    background-color: #01050fa2;

    /* transform: rotate(-55deg); */
    margin: 6px;
}

.esl_cur_num {
    /* padding-right: 28px; */
    font-family: 'Goldplay-Regular';
    font-size: 23px;
    font-weight: 300;
    color: #CB1E24;

    transform: rotate(60deg);
}
.esl_num_max {
    /* padding-left: 28px; */
    font-family: 'Goldplay-Regular';
    font-size: 23px;
    font-weight: 300;

    transform: rotate(60deg);
}

.esl_title_text{
    font-family: 'Goldplay-Regular';
    font-weight: 700;
    font-size: 19px;
    line-height: 48px;
    display: flex;
    align-items: center;

    color: #CB1E24;

}


.esl_story {
    padding: 15px;
    font-family: Lato;
    font-weight: 300;
}

.esl_controls {
    display: flex;
    align-items: center;
    gap: 25px;

    align-self: center;
    margin-top: 25px;
}

.esl_controls div {
    background-color: #fff;
    color: #CB1E24;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 4px 0 18px rgba(0, 0, 0, 0.349);
    cursor: pointer;
}

.esl_controls div:hover {
    background-color: #CB1E24;
    color: #fff;
}

.es_right img {
    /* width: 400px; */
    width: 100%;
}

.events_bottomer {
    background-color: #fff;
    color: #CB1E24;
    

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    font-family: 'Goldplay-Semibold';
    font-weight: 600;
    padding: 20px;
        margin:30px 0px;
}

@media (max-width: 950px) {
    .events_slider {
        /* background-color: red; */
        display: grid;
        grid-template-columns: 1fr;
        width: 95%;
        margin: 0 auto;
    }

  

    .esl_story {
        padding: 8px;
    }
}

@media(min-width:992px){
      .events_bottomer {
        padding: 50px 150px;
    margin: 50px 90px;
    }
}
/* .eslc_left,
.eslc_right {
    background-color: #CB1E24;
} */
