.club_charter_container {
    margin-top: 20px;
}

.club_charter_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.club_charter_btn_btn{
    display: block;
    width: 300px;
    height: 50px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    background: #A32C2F;
    color: #fff;
    border: 2px solid #A32C2F;
    border-radius: 90px;
    cursor: pointer;
}

.club_charter_btn_btn:hover {
    background: transparent;
    color: #A32C2F;
}