.App {
<<<<<<< HEAD
    margin: 0 1%;
}
/* *{
    margin:0;
    margin: 0 150px;
} */
=======
    /* margin: 0 150px; */
    /* width: 100%; */
}

@media (max-width: 1020px) {
    .App {
        margin: 0;
    }
}
>>>>>>> b9903633577fd91c1a27f8121b742644d9bf54d1
