* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow-x: hidden; */
    transition: all 0.45s ease;
}

html {
    width: 100%;
}

body {
    background-color: #f5f5f5;
    width: 100%;
}

/* .rbs_container {
    background-color: rgb(177, 49, 49);
    color: #f5f5f5;
    font-family: oswald, sans-serif;
    font-size: 40px;
    font-weight: 900;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
} */