.main_nav_container {
    width: 100%;
    height: 60px;
    /* background-color: aqua; */
    padding: 50px 30px 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu_btn {
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    margin-right: 20px;
    padding: 0;
}

.menu_btn_bar {
width: 50px;
height: 4px;
background: #CB1E24;
border-radius: 6px;
margin-bottom: 7px;
}

.left_nav_content {
    display: flex;
    align-items: center;
}

.logo_img {
    width: 200px;
}

.right_nav_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.join_us_nav_btn {
    width: 170px;
    /* height: 51px; */
    padding: 10px;
    background: #A32C2F;
    border-radius: 50px;
    border: none;
    font-family: 'Hubballi', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 23px;
    line-height: 31px; 
    color: #FFFFFF;
    margin-right: 20px;
}
.contact_us_nav_btn {
    width: 191px;
    /* height: 51px; */
    padding: 10px;
    background: #CB1E24;
    border-radius: 50px;
    border: none;
    font-family: 'Hubballi', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 23px;
    line-height: 31px;
    color: #FFFFFF;
}

.main_nav_menu_box {
    position: fixed;
    background-color: #A32C2F;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 20px 200px;
}

.exit_bar {
    background-color: #fff !important;
}

.collapsed_menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.exit_bar1 {
    transform: rotate(45deg);
}
.exit_bar2 {
    transform: rotate(-45deg);
}

.mnmb_main {
    transform: translateX(100%);
    opacity: 0;
}

.open_menu {
    animation:  animateOpen 0.4s ease forwards;
}
.close_menu {
    animation:  animateClose 0.4s ease forwards;
} 

@keyframes animateOpen {
    from{
        transform: translateX(100%);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes animateClose {
    from{
        transform: translateX(0%);
        opacity: 1;
    }
    to{
        transform: translateX(-100%);
        opacity: 0;
    }
}

.mnmb_reversed {
    background-color: #fff;
    color: #CB1E24;
}

.mnmb_menu_nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mnmb_left {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mnmb_menu_contents {
    width: 100%;
    height: 70vh;
    background-color: #fff;
    margin-top: 20px;
    border-radius: 6px;
    background: linear-gradient(rgba(0, 0, 0, 0.651), rgba(0, 0, 0, 0.568)),url("../Resources//nav_banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 50px;
}

.mnmb_menu_contents ul li {
    list-style: none;
    margin-bottom: 12px;
    color: #fff;
    font-family: Lato, sans-serif;
    font-size: 28px;
    font-weight: 600;
    
}

.backup_nav_btns {
    display: none;
    flex-direction: column;
}

.backup_nav_btn {
    width: 150px;
    padding: 8px;
    margin-bottom: 8px;
    background-color: #fff;
    color: #A32C2F;
    border-radius: 5px;
    border: none;
    font-family: 'Hubballi', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
}


@media (max-width: 1068px) {
    .logo_img {
        width: 150px;
    }
    .menu_btn {
        height: 40px;
        width: 40px;
        margin-left: 20px;
    }
    .right_nav_content {
        display: none;
    }
    .mnmb_right {
        display: none;
    }
    .backup_nav_btns {
        display: flex;
    }



    /* .mnmb_reversed {
        background-color: #fff;
        color: #CB1E24;
    }
    
    .mnmb_menu_nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .mnmb_left {
        display: flex;
        align-items: center;
        justify-content: center;
    } */

    .main_nav_menu_box {
        width: 100%;
        height: 100vh;
        padding: 20px 50px;
    }
    
    .mnmb_menu_contents {
        width: 100%;
        height: 70vh;
        margin-top: 20px;
        border-radius: 6px;
        padding: 50px 20px;
    }
    
    .mnmb_menu_contents ul li {
        margin-bottom: 12px;
        font-size: 20px;
        font-weight: 600;
        
    }
}

